{% extends 'master.html' %}
{% block content %}
<div class="agileits-main">
	<div class="w3top-nav">
				<div class="w3top-nav-left">
					<h1><a href="index.html">Publications</a></h1>
				</div>
				<div class="w3top-nav-right">
					<ul>
						<li><a href="index.html" class="active">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Gallery</a></li>
                        <li id="togg" onclick="myfunction" ><a  href="/teacher/signup">Register</a></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>

<div class="main">
		<div class="w3l_main_grids">

			<div class="w3l_main_grid1_w3ls w3l_main_grid1_w3ls_sub">
				<h3>Password Update</h3>
				<div class="w3l_main_grid1_w3ls_grid">
					<form enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        {% if OTP %}
                        <input type="text" name = "otp" id="OTP" placeholder="Enter OTP"/>
						<input type="hidden" name="new_password" placeholder="enter new password" required=" "/>
                        <input type="hidden" name="conf_password" placeholder="re-enter your password" required=" "/>
                        <button type="submit" value="CONFIRM" class="btn btn-danger d-flex justify-content-center" style=" padding-left:20px;
    padding-right:20px;"><strong>CONFIRM</strong></button>
						{% endif %}
						{% if updatepassword %}
						<input type="hidden" name="otp"/>

                        <input type="password" name="new_password" placeholder="enter new password" required=" "/>
                        <input type="password" name="conf_password" placeholder="re-enter your password" required=" "/>
                        <button type="submit" value="UPDATE" class="btn btn-danger d-flex justify-content-center" style=" padding-left:20px;
    padding-right:20px;"><strong>UPDATE</strong></button>
						{% endif %}

                    </form>
                 </div>

				</div>
			</div>

			<div class="clear"> </div>
		</div>
</div>

{% endblock %}