{% extends 'master.html' %}
{% block content %}
<div class="agileits-main">
	<div class="w3top-nav">
				<div class="w3top-nav-left">
					<h1><a href="index.html">Publications</a></h1>
				</div>
				<div class="w3top-nav-right">
					<ul>
						<li><a href="/user/index" class="active">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="/user/gallery">Gallery</a></li>
                        <li id><a  href="/teacher/login">Login</a></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
<div class="clear"></div>
<div class="header-bg-btm">
<div class="wrap">
	<div class="clear"></div>
</div>
</div>
<div class="cont-bg">
<div class="wrap">
	<div class="cont-main">
	<h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h2>
<div class="grid-list">
	<img src="/assets/images/pic1.jpg"   alt="">
	<h4>Lorem Ipsum</h4>
	<p>Qsi turpis, pellentesque at ultrices in, dapibus in magna.<span>Nunc easi diam risus,</span> placerat ut scelerisque et, placerat ut scelerisque etDonec erat magna, consectetur eu imperdiet at, lacinia malesuada nisl.</p>
</div>
<div class="grid-list">
	<img src="/assets/images/pic2.jpg" alt="">
	<h4>Lorem Ipsum</h4>
	<p>Qsi turpis, pellentesque at ultrices in, dapibus in magna.<span>Nunc easi diam risus,</span> placerat ut scelerisque et, placerat ut scelerisque etDonec erat magna, consectetur eu imperdiet at, lacinia malesuada nisl.</p>
</div>
<div class="grid-list1">
	<img src="/assets/images/pic3.png" alt="">
		<h4>Lorem Ipsum</h4>

	<p>Qsi turpis, pellentesque at ultrices in, dapibus in magna.<span>Nunc easi diam risus,</span> placerat ut scelerisque et, placerat ut scelerisque etDonec erat magna, consectetur eu imperdiet at, lacinia malesuada nisl.</p>
</div>
<div class="grid-list">
	<img src="/assets/images/pic4.jpg" alt="">
	<h4>Lorem Ipsum</h4>
	<p>Qsi turpis, pellentesque at ultrices in, dapibus in magna.<span>Nunc easi diam risus,</span> placerat ut scelerisque et, placerat ut scelerisque etDonec erat magna, consectetur eu imperdiet at, lacinia malesuada nisl.</p>
</div>
<div class="grid-list">
	<img src="/assets/images/pic5.jpg" alt="">
	<h4>Lorem Ipsum</h4>

	<p>Qsi turpis, pellentesque at ultrices in, dapibus in magna.  Nunc easi diam risus, placerat ut scelerisque et, placerat ut scelerisque etDonec erat magna, consectetur eu imperdiet at, lacinia malesuada nisl.</p>
</div>
<div class="grid-list1">
	<img src="/assets/images/pic6.jpg" alt="">
		<h4>Lorem Ipsum</h4>
		<p>Qsi turpis, pellentesque at ultrices in, dapibus in magna.Nunc easi diam risus, placerat ut scelerisque et, placerat ut scelerisque etDonec erat magna, consectetur eu imperdiet at, lacinia malesuada nisl.</p>
</div>
	<div class="clear"></div>
</div>
</div>
</div>
</div>
{% endblock %}